:root{
  --secondary-dark:#141299;
  --primary-dark: #040430;
  --primary-light: #AE8FFF ;
  --secondary-light: #7FFFF5;
  --ternary-light: #07F1DB;
}
 /* .container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap:1vmax;
  padding-top: 4vmax;
 } */
  .inputs{
    width: 80%;
    display: flex;
    height: fit-content;
    min-height: 3.5vmax;

  }

  .countryCodeContainer{
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgba(171, 154, 255, 0.2);
    position: relative;
    border-radius: 0.8vmax 0 0 0.8vmax;
    border: none !important;
    outline: none !important;
    /* padding: 0 7%; */
  }

  .flag{
    width: 40%;
    height: 50%;
    margin-left: 1vmax;
    
  }
  .flag:after {  
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    animation: skeleton-loading 0.7s linear infinite alternate;
  }
  @keyframes skeleton-loading{
    0%{
          background-color:rgb(138, 138, 138);
      }
  
  
      100%{
          background-color: rgb(222, 222, 222);
          
      }
  }

  .phoneInputStyle{
    background-color: rgba(171, 154, 255, 0.2);
    opacity:1;
    width:80%;
    border-radius:0 0.8vmax 0.8vmax 0;
    font-size:1.2vmax;
    color:whitesmoke;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.4vmax;
    display: flex;
    align-items: center;
    padding: 0 5%;
    position: relative;
    font-family: monospace;
  };

  .phoneInputStyle::placeholder{
    color: #07F1DB !important;
  }

  /* .phoneInputStyle:invalid{
    tra
  } */

  .phoneInputStyle::before{
    content: 'Enter Your Phone Number';
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 1.4vmax;
    color: rgb(60, 60, 60);
    width: fit-content;
    height: fit-content;
    min-width: 40%;
    min-height: 100%;
    background-color: aqua;
  }

  .phoneInputStyle:focus .phoneInputStyle::before{
    transform: translateY(-30%) scale(0.8);

  }

 