.stepContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0vmax !important;
    width: 100%;
    height: fit-content;
    margin-top: 1vmax;
    /* background-color: azure; */
}


.css-1hv8oq8-MuiStepLabel-label.Mui-active{
    color: aqua !important;
}

.css-1x97c6v{
    background-color: blueviolet !important;
}